<div class="home-screen container-fluid">
    <div class="home-cover">
          <div id="menu-jk" class="header">
             <div class="container">
                 <div class="row">
                     <div class="col-md-3 logo">
                         <img class="logo-wt" src="assets/images/logo_black_nobg.png" alt="" width="80">
                         <img class="logo-gry" src="assets/images/logo.png" alt="" width="80">
                         <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                     </div>
                     <div id="menu" class="col-md-9 d-none d-md-block">
                         <ul>
                             <li><a href="#">Trang chủ</a></li>
                             <li><a href="#about">Giới thiệu</a></li>
                             <!-- <li><a href="#services">Dịch vụ</a></li> -->
                             <li><a href="#gallery">Chuyên môn</a></li>
                             <li><a href="#blog">Blog</a></li>
                             <li><a href="#contact">Liên hệ</a></li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
          <div class="container">
             <div class="row home-detail">
              
                <div class="col-md-7 mx-auto homexp">
                     <!-- <h5>Hello I'm</h5> -->
                     <h2>Nguyễn Kim Duy</h2>
                     <p>Tôi là một lập trình viên và phát triển phần mềm với kinh nghiệm trong lĩnh vực này hơn 3 năm. Tôi đam mê công nghệ và luôn tìm kiếm những giải pháp sáng tạo để giải quyết các vấn đề phức tạp.</p>
                     <div class="texda">
                         <a href="">Download CV</a>
                     </div>
                 </div>
             </div>
          </div>
    </div>
  </div>
