<div id="about" class="about-sestion container-fluid">
    <div class="container">
        <div class="session-title row">
            <h2>Giới thiệu</h2>
            <p>
                Tôi là một lập trình công nghệ phần mềm với chuyên môn chính trong lập trình backend. Tôi có kỹ năng và kinh nghiệm trong việc xây dựng API và phân tích, thiết kế, xử lý tối ưu dữ liệu. Tốt nghiệp khoa CNTT trường đại học Công nghệ TP.HCM (Hutech) năm 2020.
            </p>
        </div>
        <div class="about-row row">
            <div class="col-md-5">
                <img src="assets/images/about.jpg" alt="">
            </div>
            <div class="col-md-7">
                <p>Với kiến thức sâu về lập trình backend, tôi đã tham gia và đóng góp vào nhiều dự án thành công trong việc xây dựng hệ thống và giao diện lập trình ứng dụng (API). Tôi sử dụng SQL Server để quản lý cơ sở dữ liệu và triển khai các thao tác truy vấn dữ liệu hiệu quả. Tôi có khả năng xử lý và tổ chức dữ liệu theo yêu cầu của dự án, đảm bảo tính bảo mật và tối ưu hóa hiệu suất.</p>
                 
                <p>Bên cạnh đó, tôi cũng có kỹ năng lập trình frontend về lĩnh vực web và di động. Với Angular, tôi đã phát triển các giao diện người dùng tương tác và giao diện thân thiện. Tôi sử dụng các công nghệ web như HTML, CSS và JavaScript để tạo ra các trang web độc đáo và đáp ứng. Ngoài ra, tôi cũng có kỹ năng lập trình di động với Flutter, cho phép tôi xây dựng ứng dụng đa nền tảng với hiệu suất cao và giao diện hấp dẫn trên cả iOS và Android.</p>
                 
                <p>Tôi đánh giá cao khả năng làm việc nhóm và giao tiếp hiệu quả. Tôi đã làm việc trong môi trường đa ngôn ngữ và phối hợp tốt với các thành viên khác để đạt được mục tiêu chung. Tôi luôn cập nhật kiến thức về các công nghệ mới nhất trong lĩnh vực công nghệ phần mềm và nỗ lực để phát triển kỹ năng của mình.</p>
                 
                <p>Với sự đam mê và cam kết của mình, tôi mong muốn tiếp tục phát triển sự nghiệp trong lĩnh vực công nghệ phần mềm, đặc biệt là trong việc xây dựng backend và phát triển các ứng dụng web sử dụng Angular và di động sử dụng Flutter.</p>
                <p>
                    Kinh nghiệm: <br/>
                    - 4 năm tại trường hoàn thành tốt các đồ án(.Net, PHP, Android, Winform, SQL)<br/>
                    - 2 tháng thực tập tại FPT soft ware (Font-end Angular7).<br/>
                    - 6 tháng làm việc cho Công ty TNHH giải pháp DNCS (Web .Net theo yêu cầu khách hàng)<br/>
                    - Hơn 3 năm làm việc tại Công ty CP Con Cưng: Phát triển và nâng cấp Web Admin, Dashboard .Net; Quản lý dự án, phát triển API các dự án App mobile; Quản lý DB (SQL); Quản lý App Mobile; Phát triển App Flutter.
                </p>
            </div>
        </div>
    </div>
 </div>
 