<div id="location" class="section location row">
    <div class="col-sm-4 no-padding map">
        <iframe src="https://maps.google.com/maps?q=65 Đ. 339&t=&z=20&ie=UTF8&iwloc=&output=embed"  height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-8 det">
        <div class="row pb-0 session-title">
            <h2>Liên hệ</h2>
       </div>
       <div class="row">
            <p style="text-align: left;">Chào bạn! </p><br>
            <p style="text-align: left;">Tôi rất vui khi bạn đã ghé thăm blog của tôi. Nếu bạn muốn kết nối, chia sẻ ý kiến hoặc có bất kỳ câu hỏi nào, hãy liên hệ với tôi thông qua các thông tin dưới đây. Tôi sẽ cố gắng phản hồi sớm nhất có thể. Bên cạnh đó, bạn cũng có thể kết nối với tôi qua các mạng xã hội như Twitter và Instagram để không bỏ lỡ bất kỳ cập nhật mới nào. Tôi luôn mong muốn được nghe từ bạn. Hãy cùng chia sẻ, học hỏi và tiến bộ cùng nhau.
            </p>
            <p style="text-align: left;">Hân hạnh được kết nối với bạn!</p>
       </div>
    </div>
</div>
 <section id="contact" class="contact-us row">
     <div class="container">
         <!-- <div class="row session-title">
               <h2>Liên hệ</h2>
               <p style="text-align: left;">Chào bạn! </p><br>
               <p style="text-align: left;">Tôi rất vui khi bạn đã ghé thăm blog của tôi. Nếu bạn muốn kết nối, chia sẻ ý kiến hoặc có bất kỳ câu hỏi nào, hãy liên hệ với tôi thông qua các thông tin dưới đây. Tôi sẽ cố gắng phản hồi sớm nhất có thể. Bên cạnh đó, bạn cũng có thể kết nối với tôi qua các mạng xã hội như Facebook, Twitter và Instagram để không bỏ lỡ bất kỳ cập nhật mới nào. Tôi luôn mong muốn được nghe từ bạn. Hãy để chúng ta cùng chia sẻ, học hỏi và tiến bộ cùng nhau.
               </p>
               <p style="text-align: left;">Hân hạnh được kết nối với bạn!</p>
          </div> -->
         <div class="row">
             <div class="col-sm-4">
                 <div class="contat-det">
                    <i class="fas fa-map-marker-alt"></i>
                     <br>
                     <p>65/31 đường 339, P. Phước Long B, Quận 9, TP. Thủ Đức, TP. Hồ Chí Minh.</p>
                 </div>
             </div>
             <div class="col-sm-4">
                 <div class="contat-det">
                    <i class="fas fa-phone"></i>
                     <br>
                     <p><a href="tel:+840333038078"> 0333 038 078 </a><br>
                        <a href="tel:+840559226897"> 0559 2268 97 </a><br>
                     </p>
                 </div>
             </div>
             <div class="col-sm-4">
                 <div class="contat-det">
                    <i class="fas fa-envelope"></i>
                     <br>
                     <p><a href="mailto:nguyenkimduy180697@gmail.com?subject=[Liên hệ] Nguyễn Kim Duy&body=Xin chào bạn!">nguyenkimduy180697@gmail.com</a></p>
                 </div>
             </div>
         </div>
     </div>
 </section>