<div class="copy row">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p>Copyright © 2023 Phát triển bởi Nguyễn Kim Duy</p>
            </div>
            <div class="col-sm-4">
                <ul class="foot-social">
                    <li>
                        <a href="https://twitter.com/DuyNguyen180697" target="_blank">  
                            <i class="fab fa-twitter" style="color: rgb(29, 155, 240);"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/nguyenkimduy180697" target="_blank">  
                            <i class="fab fa-instagram" style="color: rgb(255 0 12);"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:nguyenkimduy180697@gmail.com?subject=[Liên hệ] Nguyễn Kim Duy&body=Xin chào bạn!">  
                            <i class="fab fa-google-plus-g" style="color: rgb(29, 155, 240);"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
