<div id="gallery" class="gallery">
    <div class="container">
       <div class="session-title row">
            <h2>Chuyên môn</h2>
            <!-- <p>Not the answer you're looking for? Printing and typesetting inLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s Lorem</p> -->
        </div>
        <div class="row">
            <div class="gallery-filter d-none d-sm-block">
                <!-- <button class="btn btn-default filter-button" data-filter="all">Tất cả</button> -->
                <button class="btn btn-default filter-button" data-filter="gallery">Chuyên môn</button>
                <button class="btn btn-default filter-button" data-filter="language">Ngôn ngữ</button>
            </div>
            <br />
            <!-- gallery -->
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery">
                <img src="assets/images/gallery/gallery_12.jpg" class="img-responsive">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery">
                <img src="assets/images/gallery/gallery_13.jpg" class="img-responsive">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery">
                <img src="assets/images/gallery/gallery_08.jpg" class="img-responsive">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery">
                <img src="assets/images/gallery/gallery_14.jpg" class="img-responsive">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery">
                <img src="assets/images/gallery/gallery_15.jpg" class="img-responsive">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery">
                <img src="assets/images/gallery/gallery_01.jpg" class="img-responsive">
            </div>


            <!-- language -->
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter language" style="display: none;">
                <img src="assets/images/gallery/gallery_02.jpg" class="img-responsive">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter language" style="display: none;">
                <img src="assets/images/gallery/gallery_03.jpg" class="img-responsive">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter language" style="display: none;">
                <img src="assets/images/gallery/gallery_07.jpg" class="img-responsive">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter language" style="display: none;">
                <img src="assets/images/gallery/gallery_11.jpg" class="img-responsive">
            </div> 
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter language" style="display: none;">
                <img src="assets/images/gallery/gallery_10.jpg" class="img-responsive">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter language" style="display: none;">
                <img src="assets/images/gallery/gallery_09.jpg" class="img-responsive">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter language" style="display: none;">
                <img src="assets/images/gallery/gallery_04.jpg" class="img-responsive">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter language" style="display: none;">
                <img src="assets/images/gallery/gallery_05.jpg" class="img-responsive">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter language" style="display: none;">
                <img src="assets/images/gallery/gallery_06.jpg" class="img-responsive">
            </div>
        </div>
    </div>
  </div>